<%= form_for(disliked) do |f| %>
  <% if disliked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disliked.errors.count, "error") %> prohibited this disliked from being saved:</h2>

      <ul>
      <% disliked.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :dislike_id %>
    <%= f.number_field :dislike_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
