<p id="notice"><%= notice %></p>

<h1>Dislikeds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Dislike</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dislikeds.each do |disliked| %>
      <tr>
        <td><%= disliked.user_id %></td>
        <td><%= disliked.dislike_id %></td>
        <td><%= link_to 'Show', disliked %></td>
        <td><%= link_to 'Edit', edit_disliked_path(disliked) %></td>
        <td><%= link_to 'Destroy', disliked, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disliked', new_disliked_path %>
