<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @disliked.user_id %>
</p>

<p>
  <strong>Dislike:</strong>
  <%= @disliked.dislike_id %>
</p>

<%= link_to 'Edit', edit_disliked_path(@disliked) %> |
<%= link_to 'Back', dislikeds_path %>
